.salutation {
    width: 49px;
    height: 11px;
    color: #212529;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 8px;
  }
  
  .green {
    width: 8px;
    height: 11px;
    color: #00965E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  
  }
  
  #radio-group {
  
    width: Hug (316px);
    height: Hug (25px);
    gap: 24px;
    display: flex;
  
    height: 100%;
    display: inline-block;
  
    padding-top: 10px;
  
  }
  
  .inputField {
    width:  (327px);
    height: (52px);
    padding: 16px;
    border-radius: 5px;
    border: 1px;
    gap: 8px;
    border: 1px solid #8295A5;
  }